@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    /*  Light Mode */
    --bg-body-light: #ffffff;
    --color-timer-light: #323238;
    --controls-fill-light: #323238;
    --cards-fill-light: #323238;
    --bg-cards-light: #E1E1E6;
    --range-color-light: #323238;

    --bgCards-active-light: #02799D;
    --activeCards-fill-light: #ffffff;
    --range-color-actived-light: #ffffff;
    

    /*  Dark mode */
    --bg-body-dark: #000000;
    --color-timer-dark: #ffffff;
    --controls-fill-dark: #C4C4CC;
    --cards-fill-dark: #C4C4CC;
    --bg-cards-dark: #29292E;
    --range-color-dark: #FFFFFF;

    --bgCards-active-dark: #0A3442;
    --activeCards-fill-dark: #ffffff;
    --range-color-actived-dark: #ffffff;
}

body{
    font-size: 1.6rem;
    min-height: 100vh;
    display: grid;
    font-family: 'Roboto', sans-serif;
    
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

header{
    align-self: start;
    justify-self: end;
    padding: 6rem 6rem 0 0;
}

.hidden{
    display: none;
}

main{
    align-self: flex-start;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19rem;
    flex-wrap: wrap;
}

.flex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;
}

#timer{
    display: flex;
    font-size: clamp(4rem, 4rem + 10vw, 12.6rem);
    color: var(--color-timer-light);
}

#controls{
    display: flex;
    gap: 4rem;
}


#sounds{
    display: grid;
    gap: 3.2rem;
    grid-template-areas: "A  B"
    "C D";
}

/*cards ativados  modo escuro*/
#sounds .card.activedDark{
    background: var(--bgCards-active-dark);
}

#sounds button svg path.activedDark{
    fill: var(--activeCards-fill-dark);
}

#sounds .card input.activedDark{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--range-color-actived-dark);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
#sounds .card input.activedDark::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color-actived-dark);
    cursor: pointer;
    border-radius: 50%;
}
  
#sounds .card input.activedDark::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--range-color-actived-dark);
    cursor: pointer;
}


/*cards ativados  modo claro*/
#sounds .card.activedLight{
    background: var(--bgCards-active-light);
}

#sounds button svg path.activedLight{
    fill: var(--activeCards-fill-dark);
}


#sounds .card input.activedLight{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--range-color-actived-light);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
#sounds .card input.activedLight::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color-actived-light);
    cursor: pointer;
    border-radius: 50%;
}
  
#sounds .card input.activedLight::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--range-color-actived-light);
    cursor: pointer;
}


/*Modo escuro*/
#sounds .card.Dark{
    background: var(--bg-cards-dark);
}

#sounds button svg path.Dark{
    fill: var(--cards-fill-dark);
}

/*Modo claro*/
#sounds .card{
    width: clamp(5rem, 6rem + 10vw, 13.8rem);
    background: var(--bg-cards-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2.4rem;
    padding: 2.4rem;
    z-index: 1;
}

#sounds button svg{
    width: clamp(1.5rem, 2rem + 10vw, 4.5rem);
    height: clamp(1.5rem, 2rem + 10vw, 5.6rem);
}

#sounds .card input{
    width: clamp(1.5rem, 2.5rem + 10vw, 9rem);
    margin-top: 3.2rem;
    cursor: pointer;
    
}

#sounds .card input{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #323238;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
#sounds .card input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color-light);
    cursor: pointer;
    border-radius: 50%;
}
  
#sounds .card input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--range-color-light);
    cursor: pointer;
}


#sounds .card input.Dark{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--range-color-dark);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


  
#sounds .card input.Dark::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--range-color-dark);
    cursor: pointer;
    border-radius: 50%;
}
  
#sounds .card input.Dark::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--range-color-dark);
    cursor: pointer;
}

  


  




